{% extends "base.html"%} {% block content %}
<!-- Dog Section-->
<section>
  <div class="section-header pink">
    <h2>Doggos</h2>
  </div>
  <div class="section-main yellow">
    <h2>Who's in the house</h2>
    <div class="section-inner">
      {% for dog in dogs %} {% if dog.checked_in %}
      <div class="card pink">
        <div class="card-inner-top">
          <img class="card-image" src="{{dog.image}}" />
          <h3>{{dog.name}}</h3>
        </div>
        <div class="card-inner-bottom">
          <p>{{dog.description}}</p>
        </div>
        <div class="card-inner-footer">
          <form
            class="form-inline"
            action="/dogs/{{ dog.id }}/checkout"
            method="POST"
          >
            <input class="button yellow" type="submit" value="Check out" />
          </form>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</section>

<!-- Client Section -->
<section>
  <div class="section-header purple">
    <h2>Clients</h2>
  </div>
  <div class="section-main yellow">
    <h2>Who's paying the bills</h2>
    <div class="section">
      <table class="table">
        <tr class="table-header">
          <th>Name</th>
          <th>Email</th>
          <th>Telephone</th>
          <th>Notes</th>
          <th></th>
        </tr>
        {% for client in clients %}
        <tr>
          <td>{{client.name }}</td>
          <td>{{client.email }}</td>
          <td>{{client.tel }}</td>
          <td>{{client.notes }}</td>
          <td>
            <a href="/clients/{{client.id}}" class="button purple"
              >More deets</a
            >
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</section>

{% endblock %}
