{% extends "base.html" %} {% block content %}

<!-- Client Section -->
<section>
  <div class="section-header pink">
    <h2>Doggos</h2>
     <a href="/dogs/new" class="button yellow">New Doggo</a>
  </div>
  <div class="section-main yellow">
    <h2>All the hounds</h2>
     {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
        <p class="flash">{{msg}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="section">
      <table class="table">
        <tr class="table-header">
         <th>Dog image</th>
         <th>Dog name</th>
        <th>Dog Breed</th>
        <th>Dog description</th>
        <th>Check in/out</th>
        <th>Owner</th>
          <th></th>
        </tr>
        {% for dog in dogs %}
    <tr>
      <td><img src="{{dog.image}}" class="thumb"/></td>
      <td>{{dog.name}}</td>
      <td>{{dog.breed}}</td>
      <td>{{dog.description}}</td>

      {% if dog.checked_in%}
      <td>
      <form
        class="form-inline"
        action="/dogs/{{ dog.id }}/checkout"
        method="POST"
      >
        <input class="button yellow" type="submit" value="Check out" />
      </form> <br />
      <a class="button yellow" href="/dogs/{{dog.id}}">View</a>
</td>
    {% else %}
    <td>
      <form
        class="form-inline"
        action="/dogs/{{ dog.id }}/checkin"
        method="POST"
      >
        <input class="button yellow" type="submit" value="Check in" /> 
      </form><br />
      <a class="button yellow" href="/dogs/{{dog.id}}">View</a>
      </td>
    {% endif %}

      <td>{{dog.owner.name}}</td>
    </tr>
    {% endfor %} 
   

    
    </tr>
      </table>
    </div>
  </div>
</section>

{% endblock %}