{% extends "base.html" %} {% block content %}

<div class="wrapper">
  <section class="form-left">
    <h1 class="white">Edit Dog</h1>
    <p class="white">Update this Dog's details!</p>
  </section>
  <section class="form-right">
    <form action="/dogs/{{dog.id}}" method="post">
      <div class="form-field">
        <label for="dog_name">Dog Name</label><br />
        <input
          class="form-control"
          type="text"
          name="dog_name"
          id="dog_name"
          value="{{dog.name}}"
        />
      </div>
      
      <div class="form-field">
        <label for="dog_description">Description</label><br />
        <textarea
          class="form-control"
          id="dog_description"
          name="dog_description"
          rows="8"
          cols="50"
        >
{{dog.description}}
</textarea
        >
      </div>

      <div class="form-field">
        <label for="dog_dob">D.O.B</label><br />
        <input
          class="form-control"
          type="text"
          name="dog_dob"
          id="dog_dob"
          value="{{dog.dob}}"
        />
      </div>
      <div class="form-field">
        <label for="dog_breed">Breed</label><br />
        <input
          class="form-control"
          type="text"
          name="dog_breed"
          id="dog_breed"
          value="{{dog.breed}}"
        />
      </div>
      <div class="form-field">
        <label for="dog_neutered">Neutered</label>

        <select class="form-control" name="dog_neutered" id="dog_neutered">
          {% if dog.neutered %}
          <option value="True" selected="selected">Yes</option>
          <option value="False">No</option>
          {% else %}
          <option value="True">Yes</option>
          <option value="False" selected="selected">No</option>
          {% endif %}
        </select>
      </div>
      <!--neutered-->
      <div class="form-field">
        <label for="dog_vaccinations">Vaccination</label><br />
        <input
          class="form-control"
          type="text"
          name="dog_vaccinations"
          id="dog_vaccinations"
          value="{{dog.vaccinations}}"
        />
      </div>
      <!--owner-->
      <div class="form-field">
        <label for="dog_owner">Owner</label>
        <select class="form-control" name="dog_owner" id="dog_owner">
          {% for client in all_clients %}
            
          <option value="{{client.id}}" {% if client.name == dog.owner.name %} selected="selected"{% endif %}>{{client.name}}</option>
          {% endfor %}
        </select>
      </div>
       <div class="form-field">
        <label for="staff_responsible">Staff responsible</label>
        <select class="form-control" name="staff_responsible" id="staff_responsible">
          {% for staff_member in all_staff %}
            
          <option value="{{staff_member.id}}" {% if staff_member.name == dog.staff.name %} selected="selected"{% endif %}>{{staff_member.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-field">
        <label for="dog_checked_in">Checked in</label>

        <select class="form-control" name="dog_checked_in" id="dog_checked_in">
          {% if dog.checked_in %}
          <option value="True" selected="selected">Yes</option>
          <option value="False">No</option>
          {% else %}
          <option value="True">Yes</option>
          <option value="False" selected="selected">No</option>
          {% endif %}
        </select>
      </div>
      <input type="submit" class="btn btn-primary" value="Save Dog" />
    </form>
  
    <form action="/dogs/{{ dog.id }}/delete" method="POST">
      <input class="btn red-danger right" type="submit" value="delete" />
    </form>
  </section>
</div>
{% endblock %}
