{% extends "base.html" %} {% block content %}

<section>
  <div class="section-header purple">
    <h2>{{client.name }}</h2>
  </div>
  <div class="section-main yellow">
    <h2>Here's everything we know</h2>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in
    messages %}
    <p class="flash">{{msg}}</p>
    {% endfor %} {% endif %} {% endwith %}

    <div class="section">
      <div class="field-list">
        <div class="section">
          <img class="section-image" src="https://placebeard.it/200x200" />
        </div>
        <div class="details">
          <div class="attributes">
            <p class="strong">Name</p>
            <p class="strong">Telephone</p>
            <p class="strong">Email</p>
            <p class="strong">Notes</p>
          </div>

          <div class="values">
            <p>{{client.name }}</p>
            <p>{{client.tel }}</p>
            <p>{{client.email }}</p>
            <p>{{client.notes }}</p>
            <br />
            <a href="/clients/{{client.id}}/update" class="button purple more"
              >Edit Hooman</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% for dog in clients_dogs %}
<section>
  <div class="section-header purple">
    <h2>{{dog.name}}</h2>
  </div>
  <div class="section-main yellow">
    <div class="section">
      <div class="field-list">
        <div class="section">
          <img class="section-image" src="{{dog.image}}" />
        </div>
        <div class="details">
          <div class="attributes">
            <p class="strong">Name</p>
            <p class="strong">Description</p>
            <p class="strong">D.O.B</p>
            <p class="strong">Breed</p>
            <p class="strong">Neutered</p>
            <p class="strong">Vaccination</p>
            <p class="strong">Checked in?</p>
          </div>

          <div class="values">
            <p>{{dog.name}}</p>
            <p>{{dog.description}}</p>
            <p>{{dog.dob}}</p>
            <p>{{dog.breed}}</p>
            {% if dog.neutered %}
            <p>Yes</p>
            {% else %}
            <p>No</p>
            {% endif %}
            <p>{{dog.vaccinations}}</p>
            {% if dog.checked_in %}
            <p>Yes</p>
            {% else %}
            <p>No</p>
            {% endif %}
            <p>
              <a href="/clients/{{dog.owner.id}}">{{dog.owner.name}}</a>
            </p>
          </div>
          <a href="/dogs/{{dog.id}}/update" class="button purple more"
            >Edit Doggo</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %} {% endblock %}
